// Colors

$yellow: #fde428;
$blue: #0962EA;
$blue-fire: #2103ec;

// Font colors
$primary-color: #272727;
$accent-color: $blue-fire;

// Items colors
$line-background: #fff;

// Values
$paragraph-margin: 100;
$section-margin: 150;