nav {

}

.nav {

  li {
    @include margin--mixin($bottom: rem(16));

    &:last-of-type {
      @include margin--mixin();
    }
  }

  a {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: $primary-color;
    position: relative;
    cursor: pointer;


    &:hover {
      color: $accent-color;

      &:after {
        content: '~~~';
        position: absolute;
        margin-top: rem(20);
        left: 0.1em;
      }
    }
  }
}